body{
    background-color: rgb(39, 121, 28);
    text-align: justify;
    height: 100%;
}


.main-web{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.mapa{
    align-items: center;
}

.imagen-main{
    height: 40%;
    width: 40%;    
}

/*
.fotos{
    height: 800px;
    width: 600px;
}
*/

footer{
    margin-top: 5%;
}
